<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>Your Blog</title>
</head>
<body>
  <header>
    <p>Daily Blog Of Yeraaa</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/add-post">Add Post</a></li>
        <li><a href="/about-me">About Me</a></li>
      <li><a href="/my-quotes">My Quotes</a></li>
      </ul>
    </nav>
  </header>
  <main>