<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>About Me</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>About Me</h1>
  <p>
    Welcome to my blog! Brief information about me: the author of this blog was born in 2004 in East Kazakhstan region, in a place called Zaisan, which at that time was considered only a small city. Currently, I am studying at one of the higher educational institutions AITU. Playing the dombra, one of the Kazakh National Instruments, singing, playing football, one of the sports, and working out are some of my favorite pastimes.. In this blog I will write about important events and interesting stories that I have experienced, about memories that will remain in my memory forever again.
  </p>
  <%- include('partials/footer') %>
</body>
</html>