<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <title>My Favorite Quotes</title>
</head>
<body>
  <%- include('partials/header') %>
  <h1>My Quotes</h1>
  First two quotes in my native language (kazakh):
  <blockquote>
    "Сен де бір кірпіш дүниеге, кетігін тап та, бар қалан." - Abay Kunanbayuly
  </blockquote>
  <blockquote>
    "Жұмысы жоқтық,
    Тамағы тоқтық,
    Аздырар адам баласын." - Abay Kunanbayuly
  </blockquote>
  <blockquote>
    "The only way to do great work is to love what you do." - Steve Jobs
  </blockquote>
  <blockquote>
    "In the middle of every difficulty lies opportunity." - Albert Einstein
  </blockquote>
  <%- include('partials/footer') %>
</body>
</html>